<div class="mapContainer">

    <input id="inputBox" places-auto-complete size = 80
        ng-model="MapCtrl.address"
        on-place-changed="placeChanged()" /> <br/>

    
	<ng-map class="map" style:"height:100%;" center="[59.3293235, 18.0685808]" zoom="10" on-idle="onIdle()">
		<custom-marker ng-repeat="tweet in tweetsWithPos track by $index" id="custom-marker-{{$index}}" position="{{tweet.pos}}">
                <div class="Tweet">
                    <a href="#/search/{{tweet.query}}">{{tweet.hash}}</a>
     		    </div>
    	</custom-marker>
    </ng-map>
    
    <div id="worldtrending">
        <h3>World Trending</h3>
    </div>

    <div class="list-group" id="tweetList">
        <div ng-repeat="tweet in trends track by $index">

            <a href="#/search/{{tweet.query}}" class="list-group-item">{{tweet.name}}</a>
        </div>
    </div>
</div>
