<div class="mapContainer">

    <input id="inputBox" places-auto-complete size = 80
        ng-model="MapCtrl.address"
        on-place-changed="placeChanged()" /> <br/>

	<ng-map id="map" center="[59.3293235, 18.0685808]" style="height: 100%; width: 65%; margin-left: 35%;" zoom="12" on-idle="onIdle()">
		<custom-marker ng-repeat="tweet in tweetsWithPos"
		position="{{tweet.pos}}">
		<div class="Tweetbox">
		<div class="Tweet">
			{{tweet.word}}
     		</div>
		</div>
    		</custom-marker>
    	</ng-map>

    <div class="list-group" id="tweetList">
        <div ng-repeat="tweet in tweets track by $index">

            <a href="#/search" ng-click=goToSearchPage(tweet) class="list-group-item">{{tweet}}</a>
        </div>
    </div>
</div>
