<div class="mapContainer">

    <input id="inputBox" places-auto-complete size = 80
        ng-model="MapCtrl.address"
        on-place-changed="placeChanged()" /> <br/>

	<ng-map center="[59.3293235, 18.0685808]" style="height: 100%; width: 65%; margin-left: 35%;" zoom="11" on-idle="onIdle()">
		<custom-marker ng-repeat="tweet in tweetsWithPos"
		position="{{tweet.pos}}">
		<div>
			{{tweet.text}}
     		</div>
    		</custom-marker>
    	</ng-map>

    <div class="list-group" id="tweetList">
        <div ng-repeat="tweet in foundTweets track by $index">
            <a href="#/search" ng-click="goToSearchPage({{tweet.user.name}})" class="list-group-item">{{tweet.user.name}}, #{{tweet.entities.hashtags[0].text}}</a>
        </div>
    </div>
</div>
