body {
    background: url('/images/europemap.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.mapContainer {
  	height: 640px;
  	margin-right: 10px;
}
.start {
	text-align: center;
	margin: auto;
	margin-top: 13%;
}
#startButton {
	font-size: 300%;
	text-align: center;
	margin: auto;
	width: 400px;
	height: 100px;
}
.startInfo {
	text-align: center;
	margin-top: 15%;
}
h2 span {
	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	padding: 10px;
}
h2 span.space {
	padding: 0 5px;
}
#inputBox {
	width: 25%;
	height: 50px;
	font: bold;
	text-align: center;
	margin-left: 80px;
}

#tweetQuery {
	width: 25%;
	height: 50px;
	font: bold;
	text-align: center;
	margin-left: 80px;
}
#tweetButton {
	width: 7%;
	text-align: center;
}

.list-group {
	margin-top: auto;
	width: 31%;
	margin-top: -43%;
	margin-left: 25px;
	text-align: center;
}

















